{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>posts_detail</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <br>
        <div class="card">
          <ul class="list-group list-group-flush">
            <div class="card-header">
                {{object.title|striptags}}
            </div>
            <li class="list-group-item">{{object.text|striptags}}</li>
          </ul>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <div class="card-header">
                О статье
            </div>
            <li class="list-group-item">Источник: {{object.rss_link.name}}</li>
            <li class="list-group-item"><a href="{{object.source_link}}">Ссылка на оригинальную статью</a></li>
            <li class="list-group-item">{{object.datetime_string}}</li>
          </ul>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Тэги статьи:
          </div>
          <ul class="list-group list-group-flush">
            {% for item in object.post_tags.all %}
             <li class="list-group-item">
               {{ item.tag }}
            </li>
            {% endfor %}
          </ul>
        </div>

    <br>
    <a href=" {% url 'posts' %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}
</body>
</html>