{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>{{object.name}}</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h1>Информация об источнике</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
              <div class="card-header">
                {{object.name}}
            </div>
            <li class="list-group-item"><a href="{{object.link}}">Ссылка на xml</a></li>
            <li class="list-group-item">Одобрен: {% if object.approved == False %} Нет {%else%} Да {% endif %}</li>
          </ul>
        </div>
    <br>
    <a href=" {% url 'sources' %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}
</body>
</html>