{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>req_urls_list</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <a href=" {% url 'source_create' %}">
        {% if user.is_staff %}
        Создать запись
        {% else %}
        Предложить источник
        {% endif %}
    </a>
    {% for url in object_list %}
        <li>
            <a href=" {% url 'source' pk=url.pk %}">
                {% if user.is_staff %}
                {{ url.id }}.
                {% endif %}
                {{ url.name }}
            </a>
            {% if user.is_staff %}
            /
            <a href=" {% url 'source_change' pk=url.pk %}">Изменить запись</a>
            /
            <a href=" {% url 'source_delete' pk=url.pk %}">Удалить запись</a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}
</body>
</html>