{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>users_detail</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{object.tag}}</li>
          </ul>
        </div>
    </div>
    <a href=" {% url 'tags' %}">Назад</a>
{% endblock %}
</body>
</html>