{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>tags_list</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h3>
        {% if user.is_staff %}
        Тэги
        {% else %}
        Мои тэги
        {% endif %}
    </h3>

        <a href=" {% url 'tag_create' %}" class="btn btn-primary">Создать тэг</a>
        {% if user.is_staff %}
            <br>
        {% endif %}
        {% if not user.is_staff %}
        <a href="{% url 'subcribe_change' pk=user.id %}" class="btn btn-primary">Изменить мои тэги</a>
        <br>
        {% endif %}

    <br>
    <div class="list-group">
    {% for item in object_list %}

            {% if user.is_staff %}
            <a href=" {% url 'tag' pk=item.pk %}" class="list-group-item list-group-item-action">
                {{ item.id }}. {{ item.tag }}
            {% else %}
                <li class="list-group-item">{{ item.tag }}</li>
            {% endif %}
            </a>
            {% if user.is_staff %}
            <ul class="list-group list-group-horizontal">
                <a href=" {% url 'tag_change' pk=item.pk %}" class="list-group-item list-group-item-action">Изменить запись</a>
                <a href=" {% url 'tag_delete' pk=item.pk %}" class="list-group-item list-group-item-action">Удалить запись</a>
            </ul>
            {% endif %}

    {% endfor %}
    </div>
{% endblock %}
</body>
</html>