{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>tags_list</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h3>
        {% if user.is_staff %}
        Tags
        {% else %}
        My tags
        {% endif %}
    </h3>
    {% for item in object_list %}
        <li>
            <a href=" {% url 'tag' pk=item.pk %}">
                {% if user.is_staff %}
                {{ item.id }}.
                {% endif %}
                {{ item.tag }}
            </a>
            {% if user.is_staff %}
            /
            <a href=" {% url 'tag_change' pk=item.pk %}">Изменить запись</a>
            /
            <a href=" {% url 'tag_delete' pk=item.pk %}">Удалить запись</a>
            {% endif %}
        </li>
    {% endfor %}
    <br>
    <a href=" {% url 'tag_create' %}">Создать тэг</a>
    <br>
    {% if not user.is_staff %}
    <a href="{% url 'subcribe_change' pk=user.id %}">Изменить мои тэги</a>
    {% endif %}
{% endblock %}
</body>
</html>