{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>users_detail</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h1>User Info</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username: {{object.username}}</li>
            <li class="list-group-item">Password: {{object.password}}</li>
            <li class="list-group-item">Surname: {{object.second_name}}</li>
            <li class="list-group-item">email: {{object.email}}</li>
            <li class="list-group-item">Name: {{object.name}}</li>
          </ul>
        </div>
        <p></p>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            User tags:
          </div>
          <ul class="list-group list-group-flush">
            {% for item in object.user_tags.all %}
             <li class="list-group-item">
                {{ item.tag }}
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
    <a href=" {% url 'users' %}" class="btn btn-primary">Назад</a>
{% endblock %}
</body>
</html>