{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>users_detail</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h2>Вы действительно хотите удалить данный объект?</h2>

    <h3>{{object.username}}</h3>
    <p>
        {{object.name}}
    </p>
        {{object.url}}
    </p>
        {{object.email}}
    </p>

    <form method="post">
      {% csrf_token %}
      <a href=" {% url 'users' %}">Назад</a>
      <button type="submit">Подтверждаю удаление</button>
    </form>
{% endblock %}
</body>
</html>