{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Пользователи</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h2>Пользователи</h2>
    <a href="/admin/auth/user/add/" class="btn btn-primary">Создать пользователя</a>
    <br>
    <br>
    <div class="list-group">
    {% for user in object_list %}
            <a href=" {% url 'user' pk=user.pk %}" class="list-group-item list-group-item-action">{{ user.id }}. {{ user.username }}</a>
            <ul class="list-group list-group-horizontal">
                <a href=" /admin/auth/user/{{ user.id }}/change/" class="list-group-item list-group-item-action">Изменить данные пользователя</a>
                <a href=" {% url 'subcribe_change' pk=user.pk %}" class="list-group-item list-group-item-action">Изменить теги</a>
                <a href=" /admin/auth/user/{{ user.id }}/delete/" class="list-group-item list-group-item-action">Удалить пользователя</a>
            </ul>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>