{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Профиль {{ user.username}}</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <h1>Аккаунт {{ user.username}}</h1>
    <div class="container">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Имя пользователя: {{object.username}}</li>
            <li class="list-group-item">Имя: {{object.first_name}}</li>
            <li class="list-group-item">Фамилия: {{object.last_name}}</li>
            <li class="list-group-item">email: {{object.email}}</li>
            <li class="list-group-item">Последний вход: {{object.last_login}}</li>
          </ul>
        </div>
        <p></p>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Мои тэги:
          </div>
          <ul class="list-group list-group-flush">
            {% for item in object.subscribe.user_tags.all %}
             <li class="list-group-item">
                {{ item.tag }}
            </li>
            {% endfor %}
          </ul>
        </div>

    <br>
    <a href="/" class="btn btn-primary">Назад</a>
    <a href="{% url 'subcribe_change' pk=user.id %}" class="btn btn-secondary">Изменить мои тэги</a>
    <a href="{% url 'account_pass_update' pk=user.id %}" class="btn btn-warning">Обновить пароль</a>
    <a href="{% url 'account_update' pk=user.id %}" class="btn btn-info">Обновить информацию</a>
    </div>
{% endblock %}
</body>
</html>